In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import time

In [268]:
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')

<ipython-input-268-1ed2ebc79a0d>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')

In [269]:
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()

<ipython-input-269-71f3cf63ccfb>:2: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")

In [270]:
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")

<ipython-input-270-c35766c1e72e>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")

In [273]:
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]

In [ ]:
dff-delhi
df2-bangalore
df3-hyderabad
df4-kolkata
df5-chennai
df6-mumbai
df7-ahmedabad

In [286]:
#hyderabad
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[6].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
df3=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df3

<ipython-input-286-1e7a1bd32327>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-286-1e7a1bd32327>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-286-1e7a1bd32327>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-286-1e7a1bd32327>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-286-1e7a1bd32327>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-286-1e7a1bd32327>:57: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-286-1e7a1bd32327>:58: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-286-1e7a1bd32327>:69: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-286-1e7a1bd32327>:72: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-286-1e7a1bd32327>:75: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-286-1e7a1bd32327>:79: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-286-1e7a1bd32327>:82: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Hyderabad
45 45 45 45 45 45 45 45

<ipython-input-286-1e7a1bd32327>:84: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹8,82,299",2009,Mercedes,Benz C Class,220 CDI ELEGANCE AT Automatic,"65,969 km",2nd Owner,Diesel,Hyderabad
1,"₹6,60,899",2017,Hyundai,Elite i20,ASTA 1.2 (O) Manual,"26,729 km",2nd Owner,Petrol,Hyderabad
2,"₹7,52,899",2018,Hyundai,Elite i20,ASTA 1.2 AT,"20,001 km",1st Owner,Petrol,Hyderabad
3,"₹7,58,999",2019,Maruti,Dzire,VDI Manual,"21,577 km",1st Owner,Diesel,Hyderabad
4,"₹4,07,599",2019,Renault,Kwid,1.0 RXT Opt Manual,"31,559 km",1st Owner,Petrol,Hyderabad
5,"₹4,63,099",2019,Maruti,S PRESSO,VXI PLUS Manual,"29,101 km",1st Owner,Petrol,Hyderabad
6,"₹8,40,999",2018,Maruti,Vitara Brezza,ZDI AMT Automatic,"88,052 km",2nd Owner,Diesel,Hyderabad
7,"₹5,94,399",2019,Hyundai,Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,"12,540 km",1st Owner,Petrol,Hyderabad
8,"₹3,03,299",2017,Maruti,Alto 800,LXI Manual,"35,080 km",1st Owner,Petrol,Hyderabad
9,"₹4,55,099",2019,Maruti,Eeco,5 STR WITH AC PLUSHTR Manual,"11,900 km",1st Owner,Petrol,Hyderabad
10,"₹4,56,199",2019,Maruti,Eeco,5 STR WITH AC PLUSHTR Manual,"9,338 km",2nd Owner,Petrol,Hyderabad
11,"₹4,27,899",2015,Hyundai,Grand i10,SPORTS 1.2 VTVT Manual,"61,063 km",1st Owner,Petrol,Hyderabad
12,"₹4,31,299",2015,Hyundai,Grand i10,SPORTS 1.2 VTVT Manual,"34,590 km",2nd Owner,Petrol,Hyderabad
13,"₹2,68,999",2015,Maruti,Alto 800,VXI Manual,"47,374 km",1st Owner,Petrol,Hyderabad
14,"₹6,68,199",2017,Maruti,Swift Dzire,VDI OPT Manual,"19,935 km",1st Owner,Diesel,Hyderabad
15,"₹6,83,199",2018,Maruti,Dzire,VDI Manual,"44,932 km",1st Owner,Diesel,Hyderabad
16,"₹2,28,499",2012,Maruti,Alto,LXI Manual,"21,364 km",1st Owner,Petrol,Hyderabad
17,"₹6,52,299",2016,Hyundai,Verna,FLUIDIC 1.6 SX VTVT OPT Manual,"83,328 km",1st Owner,Petrol,Hyderabad
18,"₹6,55,899",2019,Hyundai,GRAND I10 NIOS,Asta Petrol Manual,"33,518 km",1st Owner,Petrol,Hyderabad
19,"₹14,65,799",2019,Toyota,Innova Crysta,2.4 GX 8 STR Manual,"1,87,298 km",1st Owner,Diesel,Hyderabad
20,"₹6,71,299",2019,Maruti,Dzire,VXI Manual,"3,882 km",1st Owner,Petrol,Hyderabad
21,"₹9,05,899",2019,Ford,Ecosport,1.5 TITANIUM PLUS TI VCT AT Manual,"7,346 km",1st Owner,Petrol,Hyderabad
22,"₹4,27,999",2016,Hyundai,Grand i10,MAGNA 1.2 VTVT Manual,"63,674 km",1st Owner,Petrol,Hyderabad
23,"₹4,53,699",2018,Maruti,Celerio,ZXI OPT AMT Automatic,"42,822 km",1st Owner,Petrol,Hyderabad
24,"₹2,82,099",2015,Maruti,Alto K10,VXI Manual,"33,751 km",1st Owner,Petrol,Hyderabad
25,"₹3,00,199",2010,Hyundai,i10,MAGNA 1.2 Manual,"24,013 km",1st Owner,Petrol,Hyderabad
26,"₹3,97,099",2019,Maruti,Eeco,5 STR WITH AC PLUSHTR Manual,"31,895 km",1st Owner,Petrol,Hyderabad
27,"₹3,65,499",2013,Honda,Brio,1.2 S MT I VTEC Manual,"32,064 km",1st Owner,Petrol,Hyderabad
28,"₹3,05,899",2017,Maruti,Alto 800,LXI OPT Manual,"20,768 km",1st Owner,Petrol,Hyderabad
29,"₹5,10,299",2017,Maruti,Swift,VXI OPT Manual,"29,996 km",2nd Owner,Petrol,Hyderabad
30,"₹6,60,699",2016,Hyundai,i20 Active,1.4 SX Manual,"57,997 km",1st Owner,Diesel,Hyderabad
31,"₹4,93,099",2016,Maruti,Swift,VXI Manual,"8,029 km",1st Owner,Petrol,Hyderabad
32,"₹6,78,799",2019,Tata,NEXON,XMA 1.2 Automatic,"43,488 km",1st Owner,Petrol,Hyderabad
33,"₹6,63,499",2017,Maruti,Dzire,ZDI Plus AMT Automatic,"49,145 km",1st Owner,Diesel,Hyderabad
34,"₹3,15,499",2012,Maruti,Ritz,VXI ABS Manual,"1,16,534 km",2nd Owner,Petrol,Hyderabad
35,"₹2,90,099",2015,Maruti,Alto K10,VXI Manual,"30,557 km",1st Owner,Petrol,Hyderabad
36,"₹6,11,599",2016,Hyundai,Elite i20,Sportz 1.2 VTVT MT,"24,365 km",1st Owner,Petrol,Hyderabad
37,"₹6,75,699",2020,Hyundai,GRAND I10 NIOS,SPORTZ 1.2 AT Automatic,"11,947 km",1st Owner,Petrol,Hyderabad
38,"₹4,83,699",2014,Ford,Ecosport,1.5 TREND TI VCT Manual,"68,522 km",1st Owner,Petrol,Hyderabad
39,"₹6,19,299",2017,Hyundai,Elite i20,SPORTZ 1.2 Manual,"41,040 km",1st Owner,Petrol,Hyderabad
40,"₹5,35,799",2017,Maruti,Baleno,DELTA 1.2 K12 Manual,"44,103 km",1st Owner,Petrol,Hyderabad
41,"₹7,46,499",2020,Maruti,Baleno,ALPHA 1.2 K12 Manual,"28,752 km",1st Owner,Petrol,Hyderabad
42,"₹4,26,499",2018,Renault,Kwid,CLIMBER 1.0 AT,"7,455 km",1st Owner,Petrol,Hyderabad
43,"₹4,62,099",2016,Hyundai,Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"7,894 km",1st Owner,Petrol,Hyderabad
44,"₹3,65,999",2014,Honda,Brio,1.2 S MT I VTEC Manual,"38,354 km",2nd Owner,Petrol,Hyderabad

In [287]:
#bangalore
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[5].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
df2=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df2

<ipython-input-287-d71a8c7cc387>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-287-d71a8c7cc387>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-287-d71a8c7cc387>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-287-d71a8c7cc387>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-287-d71a8c7cc387>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-287-d71a8c7cc387>:57: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-287-d71a8c7cc387>:58: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-287-d71a8c7cc387>:69: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-287-d71a8c7cc387>:72: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-287-d71a8c7cc387>:75: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-287-d71a8c7cc387>:79: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-287-d71a8c7cc387>:82: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Bengaluru
281 281 281 281 281 281 281 281

<ipython-input-287-d71a8c7cc387>:84: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹20,67,099",2017,Hyundai,Tucson New,4WD AT GLS DIESEL Automatic,"34,941 km",1st Owner,Diesel,Bengaluru
1,"₹6,64,499",2013,Volkswagen,Polo,GT TSI 1.2 PETROL AT Automatic,"26,663 km",3rd Owner,Petrol,Bengaluru
2,"₹3,25,399",2009,Hyundai,i20,MAGNA 1.2 VTVT Manual,"42,118 km",2nd Owner,Petrol,Bengaluru
3,"₹6,27,699",2017,Maruti,Dzire,VDI AMT Automatic,"46,873 km",1st Owner,Diesel,Bengaluru
4,"₹3,58,299",2014,Maruti,Wagon R 1.0,VXI Manual,"46,679 km",2nd Owner,Petrol,Bengaluru
...,...,...,...,...,...,...,...,...,...
276,"₹8,03,599",2018,Maruti,Dzire,ZDI Plus AMT Automatic,"29,792 km",1st Owner,Diesel,Bengaluru
277,"₹2,76,099",2010,Hyundai,i10,MAGNA 1.2 Manual,"44,168 km",2nd Owner,Petrol,Bengaluru
278,"₹6,61,899",2019,Ford,FREESTYLE,TITANIUM 1.2 TI-VCT MT Manual,"19,449 km",1st Owner,Petrol,Bengaluru
279,"₹4,10,499",2014,Maruti,Celerio,VXI AMT Automatic,"15,222 km",2nd Owner,Petrol,Bengaluru
280,"₹6,15,899",2018,Maruti,Swift,VXI Manual,"18,855 km",1st Owner,Petrol,Bengaluru

In [285]:
#delhi
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[0].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
dff=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
dff

<ipython-input-285-e6a76d8feb7e>:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-285-e6a76d8feb7e>:6: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-285-e6a76d8feb7e>:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-285-e6a76d8feb7e>:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-285-e6a76d8feb7e>:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-285-e6a76d8feb7e>:57: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-285-e6a76d8feb7e>:58: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-285-e6a76d8feb7e>:69: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-285-e6a76d8feb7e>:72: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-285-e6a76d8feb7e>:75: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-285-e6a76d8feb7e>:79: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-285-e6a76d8feb7e>:82: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
New Delhi
141 141 141 141 141 141 141 141

<ipython-input-285-e6a76d8feb7e>:84: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹4,55,299",2015,Maruti,Swift,VDI ABS Manual,"76,264 km",1st Owner,Diesel,New Delhi
1,"₹5,35,899",2013,Toyota,Innova,2.5 GX 7 STR BS IV Manual,"1,38,351 km",2nd Owner,Diesel,New Delhi
2,"₹3,30,599",2014,Maruti,Swift,VDI Manual,"71,450 km",2nd Owner,Diesel,New Delhi
3,"₹4,05,199",2015,Maruti,Swift,VDI ABS Manual,"37,925 km",1st Owner,Diesel,New Delhi
4,"₹12,71,199",2020,Honda,City,ZX CVT Automatic,"10,322 km",1st Owner,Petrol,New Delhi
...,...,...,...,...,...,...,...,...,...
136,"₹4,29,499",2014,Maruti,Swift,ZDI Manual,"72,636 km",1st Owner,Diesel,New Delhi
137,"₹3,86,299",2019,Maruti,Alto K10,VXI Manual,"6,999 km",1st Owner,Petrol,New Delhi
138,"₹4,10,499",2017,Maruti,Celerio,ZXI AMT Automatic,"38,235 km",1st Owner,Petrol,New Delhi
139,"₹5,25,499",2019,Maruti,Swift,VXI Manual,"31,304 km",1st Owner,Petrol,New Delhi
140,"₹6,29,899",2019,Maruti,Dzire,VDI Manual,"26,352 km",1st Owner,Diesel,New Delhi

In [284]:
#mumbai
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[3].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
df6=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df6

<ipython-input-284-bc6101691638>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-284-bc6101691638>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-284-bc6101691638>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-284-bc6101691638>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-284-bc6101691638>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-284-bc6101691638>:56: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-284-bc6101691638>:57: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-284-bc6101691638>:68: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-284-bc6101691638>:71: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-284-bc6101691638>:74: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-284-bc6101691638>:78: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-284-bc6101691638>:81: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Mumbai
320 320 320 320 320 320 320 320

<ipython-input-284-bc6101691638>:83: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹3,07,299",2009,Toyota,Camry,W4 AT Automatic,"99,864 km",1st Owner,Petrol,Mumbai
1,"₹7,38,999",2016,Maruti,Vitara Brezza,ZDI PLUS Manual,"97,103 km",1st Owner,Diesel,Mumbai
2,"₹8,80,699",2015,Hyundai,Creta,1.6 SX CRDI Manual,"1,10,584 km",1st Owner,Diesel,Mumbai
3,"₹9,01,299",2020,Skoda,Rapid,1.0 AMBITION TSI MT Manual,"6,981 km",1st Owner,Petrol,Mumbai
4,"₹11,10,499",2019,Honda,City,VX CVT PETROL Automatic,"1,810 km",1st Owner,Petrol,Mumbai
...,...,...,...,...,...,...,...,...,...
315,"₹3,24,299",2017,Maruti,Alto 800,LXI Manual,"12,393 km",1st Owner,Petrol,Mumbai
316,"₹4,11,199",2018,Maruti,Alto K10,VXI (O) AMT Manual,"14,899 km",1st Owner,Petrol,Mumbai
317,"₹3,33,099",2017,Maruti,Alto 800,LXI Manual,"18,797 km",1st Owner,Petrol,Mumbai
318,"₹3,35,899",2017,Maruti,Alto 800,LXI Manual,"22,244 km",1st Owner,Petrol,Mumbai
319,"₹3,78,199",2015,Maruti,Celerio,VXI Manual,"21,306 km",1st Owner,Petrol,Mumbai

In [283]:
#Chennai
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[7].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
df5=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df5

<ipython-input-283-0a43a5d2c964>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-283-0a43a5d2c964>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-283-0a43a5d2c964>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-283-0a43a5d2c964>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-283-0a43a5d2c964>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-283-0a43a5d2c964>:56: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-283-0a43a5d2c964>:57: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-283-0a43a5d2c964>:68: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-283-0a43a5d2c964>:71: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-283-0a43a5d2c964>:74: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-283-0a43a5d2c964>:78: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-283-0a43a5d2c964>:81: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Chennai
254 254 254 254 254 254 254 254

<ipython-input-283-0a43a5d2c964>:83: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹4,18,299",2012,Maruti,Swift Dzire,VXI 1.2 BS IV Manual,"1,60,596 km",2nd Owner,Petrol,Chennai
1,"₹5,93,099",2015,Hyundai,Elite i20,ASTA 1.2 Manual,"47,147 km",1st Owner,Petrol,Chennai
2,"₹4,00,999",2015,Maruti,Celerio,VXI AMT Automatic,"34,382 km",1st Owner,Petrol,Chennai
3,"₹5,69,499",2016,Volkswagen,Polo,HIGHLINE1.2L PETROL Manual,"22,590 km",1st Owner,Petrol,Chennai
4,"₹6,40,999",2015,Maruti,Ertiga,VDI ABS Manual,"52,502 km",2nd Owner,Diesel,Chennai
...,...,...,...,...,...,...,...,...,...
249,"₹2,88,699",2018,Maruti,Alto 800,LXI Manual,"19,805 km",1st Owner,Petrol,Chennai
250,"₹5,53,699",2020,Hyundai,NEW SANTRO,1.1 SPORTS AMT Manual,"5,784 km",1st Owner,Petrol,Chennai
251,"₹3,09,899",2017,Maruti,Alto 800,VXI Manual,"21,325 km",1st Owner,Petrol,Chennai
252,"₹3,38,499",2018,Maruti,Alto 800,LXI Manual,"18,081 km",1st Owner,Petrol,Chennai
253,"₹6,74,699",2019,Renault,TRIBER,1.0 RXZ Manual,"1,532 km",1st Owner,Petrol,Chennai

In [282]:
#kolkata
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[8].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)


for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))
df4=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df4

<ipython-input-282-17eb723e234b>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-282-17eb723e234b>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-282-17eb723e234b>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-282-17eb723e234b>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-282-17eb723e234b>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-282-17eb723e234b>:58: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-282-17eb723e234b>:59: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-282-17eb723e234b>:70: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-282-17eb723e234b>:73: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-282-17eb723e234b>:76: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-282-17eb723e234b>:80: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-282-17eb723e234b>:83: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Kolkata
156 156 156 156 156 156 156 156

<ipython-input-282-17eb723e234b>:85: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹3,86,099",2017,Ford,Figo Aspire,1.2 TITANIUM PETROL Manual,"41,753 km",1st Owner,Petrol,Kolkata
1,"₹3,14,599",2014,Maruti,Wagon R Stingray,VXI Manual,"26,138 km",1st Owner,Petrol,Kolkata
2,"₹11,43,799",2020,Mahindra,Scorpio,S5 Manual,"59,972 km",1st Owner,Diesel,Kolkata
3,"₹2,76,199",2017,Renault,Kwid,CLIMBER 1.0,"27,775 km",1st Owner,Petrol,Kolkata
4,"₹4,11,299",2016,Maruti,Swift Dzire,VXI OPT Manual,"38,536 km",2nd Owner,Petrol,Kolkata
...,...,...,...,...,...,...,...,...,...
151,"₹2,72,799",2018,Maruti,Alto 800,LXI Manual,727 km,1st Owner,Petrol,Kolkata
152,"₹3,30,099",2017,Maruti,Wagon R 1.0,VXI PLUS Manual,"46,478 km",1st Owner,Petrol,Kolkata
153,"₹4,10,899",2015,Maruti,Swift Dzire,VXI 1.2 BS IV Manual,"30,260 km",1st Owner,Petrol,Kolkata
154,"₹4,86,399",2015,Maruti,Swift,ZXI Manual,"42,419 km",1st Owner,Petrol,Kolkata
155,"₹2,88,899",2015,Hyundai,i10,MAGNA 1.1 IRDE2 Manual,"21,103 km",1st Owner,Petrol,Kolkata

In [278]:
#ahmedabad
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.cars24.com/buy-used-cars/')
time.sleep(5)
#click the manual location input button
loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
loc.click()
time.sleep(7)
location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
locate=[]
brand=[]
year=[]
model=[]
owner=[]
Fuel=[]    
kms=[]    
variant=[]
price=[]
# scraping for different places of location
location_list[9].click()
time.sleep(5)
view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
view_all.click()
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)
html.send_keys(Keys.END)
time.sleep(10)
html.send_keys(Keys.END)
time.sleep(7)


for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
    location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
    locate.append(location)
    txt=i.text.split()
    year.append(txt[0])
    brand.append(txt[1])
    if len(txt)==5:
        model.append(txt[2]+" "+txt[3]+" "+txt[4])
    if len(txt)==4:
        model.append(txt[2]+" "+txt[3])
    elif len(txt)==3:
        model.append(txt[2])
for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
    variant.append(v.text)

for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
    kms.append(k.text)
    
for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
    owner.append(o.text)
    
    
for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
    Fuel.append(f.text)
    
for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):
    price.append(p.text)
car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")
print(len(car_list))
print(location)    
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))

<ipython-input-278-389961530af6>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
<ipython-input-278-389961530af6>:5: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loc=driver.find_element_by_xpath("//div[@class='_1K8Qe']")
<ipython-input-278-389961530af6>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  location_list=driver.find_elements_by_xpath("//div[@class='_1KLjo']/div[2]/ul[1]/li/span")
<ipython-input-278-389961530af6>:21: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  view_all=driver.find_element_by_xpath("//div[@class='_2AvHl']/button")
<ipython-input-278-389961530af6>:23: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')
<ipython-input-278-389961530af6>:58: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
<ipython-input-278-389961530af6>:59: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  location=driver.find_element_by_xpath("//p[@class='_1OR7d']").text
<ipython-input-278-389961530af6>:70: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for v in driver.find_elements_by_xpath("//p[@class='cvakB']"):
<ipython-input-278-389961530af6>:73: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for k in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[1]"):
<ipython-input-278-389961530af6>:76: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for o in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[2]"):
<ipython-input-278-389961530af6>:80: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for f in driver.find_elements_by_xpath("//ul[@class='bVR0c']/li[3]"):
<ipython-input-278-389961530af6>:83: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  for p in driver.find_elements_by_xpath("//div[@class='_1l4fi']/div[2]/div[2]"):

0
Ahmedabad
286 286 286 286 286 286 286 286

<ipython-input-278-389961530af6>:85: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  car_list=driver.find_elements_by_xpath("//div[@class='o0pOR']/div[4]/div/div/div")

In [280]:
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price))

286 286 286 286 286 286 286 286

In [281]:
df7=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df7

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹4,05,299",2017,Ford,Figo Aspire,1.5 TITANIUM DIESEL Manual,"95,535 km",1st Owner,Diesel,Ahmedabad
1,"₹4,58,099",2017,Ford,Figo Aspire,1.5 TITANIUM DIESEL Manual,"55,089 km",1st Owner,Diesel,Ahmedabad
2,"₹10,19,899",2019,Hyundai,Creta,1.6 E + VTVT Manual,"5,616 km",2nd Owner,Petrol,Ahmedabad
3,"₹5,35,199",2016,Ford,Ecosport,1.5TITANIUM TDCI Manual,"99,250 km",1st Owner,Diesel,Ahmedabad
4,"₹5,41,899",2016,Hyundai,Elite i20,MAGNA 1.4 CRDI Manual,"43,878 km",1st Owner,Diesel,Ahmedabad
...,...,...,...,...,...,...,...,...,...
281,"₹5,12,399",2017,Maruti,Baleno,DELTA 1.2 K12 Manual,"41,383 km",2nd Owner,Petrol,Ahmedabad
282,"₹5,09,699",2020,Maruti,Baleno,SIGMA 1.2 K12 Manual,"32,326 km",1st Owner,Petrol,Ahmedabad
283,"₹6,46,599",2019,Hyundai,GRAND I10 NIOS,Asta Petrol Manual,"25,597 km",1st Owner,Petrol,Ahmedabad
284,"₹3,08,899",2020,Maruti,Alto,LXI Manual,"19,824 km",1st Owner,Petrol,Ahmedabad
285,"₹3,99,099",2016,Hyundai,Grand i10,MAGNA 1.2 KAPPA VTVT Manual,"1,42,420 km",1st Owner,Petrol + CNG,Ahmedabad

In [306]:
dff=dff.append(df7)

In [307]:
dff.shape

(1483, 9)

In [3]:
df['location'].value_counts()

Mumbai       416
Ahmedabad    286
Bengaluru    281
Chennai      254
Kolkata      156
New Delhi    141
Hyderabad     45
Name: location, dtype: int64

In [308]:
dff['location'].value_counts()

Mumbai       320
Ahmedabad    286
Bengaluru    281
Chennai      254
Kolkata      156
New Delhi    141
Hyderabad     45
Name: location, dtype: int64

In [313]:
dff.to_csv('cardata1.csv')

In [ ]:
dff-delhi
df2-bangalore
df3-hyderabad
df4-kolkata
df5-chennai
df6-mumbai
df7-ahmedabad

# DROOMS

In [243]:
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://droom.in/cars/used')

<ipython-input-243-a8581c69fd03>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')

In [245]:
sel_loc=driver.find_element_by_xpath("//div[@class='MuiPaper-root MuiAccordion-root jss73 jss74 MuiAccordion-rounded MuiPaper-elevation1 MuiPaper-rounded'][1]")

<ipython-input-245-d3be58cfd3a9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  sel_loc=driver.find_element_by_xpath("//div[@class='MuiPaper-root MuiAccordion-root jss73 jss74 MuiAccordion-rounded MuiPaper-elevation1 MuiPaper-rounded'][1]")

In [644]:
sel_loc.click()

In [248]:
locate=driver.find_elements_by_xpath("//div[@class='MuiFormGroup-root']/label/span[1]")

<ipython-input-248-9fdd8a046381>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  locate=driver.find_elements_by_xpath("//div[@class='MuiFormGroup-root']/label/span[1]")

In [593]:
locate[7].click()

In [250]:
apply=driver.find_element_by_xpath("//div[@class='jss97'][1]/div/div/button[2][1]")

<ipython-input-250-ff09180a793d>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  apply=driver.find_element_by_xpath("//div[@class='jss97'][1]/div/div/button[2][1]")

In [622]:
apply.click()

In [199]:
html = driver.find_element_by_tag_name('html')
html.send_keys(Keys.END)
time.sleep(3)

<ipython-input-199-0995be70a8aa>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')

In [653]:
loadmore=driver.find_element_by_xpath("//div[@class='MuiBox-root jss10940 jss60']/button")
loadmore.click()

<ipython-input-653-dadd625a9c74>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  loadmore=driver.find_element_by_xpath("//div[@class='MuiBox-root jss10940 jss60']/button")

In [672]:
nam_str=driver.find_elements_by_xpath("//h2[@class='MuiTypography-root jss11367 MuiTypography-body1']/a")

<ipython-input-672-12de639ab68a>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  nam_str=driver.find_elements_by_xpath("//h2[@class='MuiTypography-root jss11367 MuiTypography-body1']/a")

In [671]:
brand=[]
year=[]
model=[]
variant=[]

In [673]:
len(nam_str)

144

In [674]:
for i in nam_str:
    year.append(i.text.split()[-1])
    brand.append(i.text.split()[0])
    if i.text.split()[0]=='Maruti':
        model.append(i.text.split()[2])
        b=i.text.split()[3:-1]
        if len(b)==8:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5]+" "+b[6]+" "+b[7])
        if len(b)==7:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5]+" "+b[6])
        if len(b)==6:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5])
        if len(b)==5:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4])
        if len(b)==4:
            variant.append(b[1]+" "+b[2]+" "+b[3]+" "+b[0])
        if len(b)==3:
            variant.append(b[0]+" "+b[1]+" "+b[2])
        if len(b)==2:
            variant.append(b[0]+" "+b[1])
        elif len(b)==1:
            variant.append(b[0])
    else:
        model.append(i.text.split()[1])
        b=i.text.split()[2:-1]
        if len(b)==8:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5]+" "+b[6]+" "+b[7])
        if len(b)==7:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5]+" "+b[6])
        if len(b)==6:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4]+" "+b[5])
        if len(b)==5:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3]+" "+b[4])
        if len(b)==4:
            variant.append(b[0]+" "+b[1]+" "+b[2]+" "+b[3])
        if len(b)==3:
            variant.append(b[0]+" "+b[1]+" "+b[2])
        if len(b)==2:
            variant.append(b[0]+" "+b[1])
        elif len(b)==1:
            variant.append(b[0])

In [675]:
print(len(year),len(brand),len(model),len(variant))

144 144 144 144

In [275]:
len(location)

408

In [676]:
pri=driver.find_elements_by_xpath("//div[@class='jss11368']/span")
price=[]
for l in pri:
    price.append(l.text)

<ipython-input-676-92ad3b0db51c>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  pri=driver.find_elements_by_xpath("//div[@class='jss11368']/span")

In [677]:
#loc=driver.find_elements_by_xpath("//div[@class='jss3282']/div[2]/div")
location=[]
for p in nam_str:
    location.append("Surat")

In [678]:
kms=[]
km=driver.find_elements_by_xpath("//div[@class='jss11371']/div[1]/div")
for k in km:
    kms.append(k.text)

<ipython-input-678-9afab54a0eb8>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  km=driver.find_elements_by_xpath("//div[@class='jss11371']/div[1]/div")

In [679]:
Fuel=[]
fuel=driver.find_elements_by_xpath("//div[@class='jss11371']/div[3]/div")
for f in fuel:
    Fuel.append(f.text)

<ipython-input-679-2b8362527355>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  fuel=driver.find_elements_by_xpath("//div[@class='jss11371']/div[3]/div")

In [680]:
own=driver.find_elements_by_xpath("//div[@class='jss11371']/div[5]/div")
owner=[]
for o in own:
    owner.append(o.text)

<ipython-input-680-3e976e499b69>:1: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  own=driver.find_elements_by_xpath("//div[@class='jss11371']/div[5]/div")

In [681]:
print(len(year),len(brand),len(model),len(variant),len(kms),len(Fuel),len(owner),len(price),len(location))

144 144 144 144 144 144 144 144 144

In [107]:
owner

['First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Fourth Owner Or More',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Fourth Owner Or More',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Fourth Owner Or More',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Fourth Owner Or More',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Fourth Owner Or More',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Third Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'Second Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'First Owner',
 'Second Owner',
 'First Owner']

In [45]:
df9=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df9
#mumbai

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"12,50,000",2018,Hyundai,Creta,1.6 S,"39,000Km",First Owner,Petrol,Mumbai
1,"4,40,599",2015,Maruti,Ciaz,VDi+ SHVS,"1,39,999Km",First Owner,Diesel,Mumbai
2,"5,40,000",2019,Maruti,Ignis,Zeta 1.2 MT,"19,000Km",First Owner,Petrol,Mumbai
3,"7,50,000",2018,Honda,Jazz,VX CVT i-VTEC,"7,700Km",First Owner,Petrol,Mumbai
4,"3,50,000",2016,Tata,Zest,Quadrajet 1.3 75PS XMS,"74,000Km",First Owner,Diesel,Mumbai
...,...,...,...,...,...,...,...,...,...
211,"2,07,500",2012,Ford,Figo,Duratorq Diesel EXI 1.4,"69,000Km",First Owner,Diesel,Mumbai
212,"7,41,600",2014,SKODA,SUPERB,Elegance 1.8 TSI AT,"42,000Km",Second Owner,Petrol,Mumbai
213,"4,82,650",2017,Tata,Tiago,Revotron XZA,"33,000Km",First Owner,Petrol,Mumbai
214,"1,92,765",2010,Maruti,Alto,LXI CNG,"82,060Km",Second Owner,Petrol + Cng,Mumbai
215,"5,58,988",2013,Maruti,Ertiga,VXi,"31,561Km",First Owner,Petrol,Mumbai

In [282]:
df8=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df8
#new delhi

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"5,95,000",2016,Maruti,Vitara,Brezza ZDi Plus Dual Tone,"43,000Km",First Owner,Diesel,New Delhi
1,"9,50,000",2020,Mahindra,XUV300,W8 Petrol,"15,000Km",First Owner,Petrol,New Delhi
2,"2,50,000",2010,Toyota,Innova,2.5 G 8 STR BS IV,"1,64,500Km",Second Owner,Diesel,New Delhi
3,"2,95,000",2014,Hyundai,Grand,i10 Sportz 1.1 CRDi,"1,07,780Km",First Owner,Diesel,New Delhi
4,"18,50,000",2020,Kia,Seltos,GTX Plus DCT 1.4 Petrol,"8,080Km",First Owner,Petrol,New Delhi
...,...,...,...,...,...,...,...,...,...
403,"7,38,750",2014,Toyota,Innova,2.5 V 8 STR,"91,000Km",Second Owner,Diesel,New Delhi
404,"4,00,000",2020,Maruti,Baleno,Delta 1.2 BS6,"19,857Km",Third Owner,Petrol,New Delhi
405,"5,65,000",2012,Toyota,Corolla,Altis 1.8 VL,"65,000Km",Second Owner,Petrol,New Delhi
406,"4,43,250",2015,Renault,Duster,85 PS RXE,"75,234Km",First Owner,Diesel,New Delhi
407,"16,99,125",2017,Toyota,Innova,Crysta 2.4 VX 7 STR,"55,000Km",First Owner,Diesel,New Delhi

In [498]:
df7=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df7
#bangalore

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"10,10,000",2021,Tata,Nexon,XM (S) Petrol BS6,"2,500Km",First Owner,Petrol,Bengaluru
1,"14,00,000",2017,Toyota,Corolla,Altis 1.8 VL AT,"24,100Km",First Owner,Petrol,Bengaluru
2,"10,50,000",2018,Tata,Nexon,XZA Plus Diesel,"43,000Km",First Owner,Diesel,Bengaluru
3,"9,50,000",2018,Hyundai,Verna,1.6 VTVT SX,"29,000Km",First Owner,Petrol,Bengaluru
4,"4,50,000",2015,Ford,Ecosport,1.5 DV5 MT Titanium,"70,000Km",First Owner,Diesel,Bengaluru
...,...,...,...,...,...,...,...,...,...
523,"5,49,000",2012,Hyundai,Verna,1.6 CRDI SX (O),"89,000Km",First Owner,Diesel,Bengaluru
524,"4,02,000",2013,Skoda,Fabia,ELEGANCE 1.2 TDI,"2,700Km",First Owner,Diesel,Bengaluru
525,"11,00,000",2015,Mahindra,XUV500,W10 AWD,"88,000Km",First Owner,Diesel,Bengaluru
526,"2,46,250",2008,Maruti,Omni,5 Seater,"64,000Km",Third Owner,Petrol,Bengaluru
527,"3,79,225",2014,Fiat,Punto,Emotion 1.3,"70,000Km",Third Owner,Diesel,Bengaluru

In [354]:
df6=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df6
#ahmedabad

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"16,40,526",2016,Hyundai,Santa,FE 4WD AT,"1,10,000Km",First Owner,Diesel,Ahmedabad
1,"18,51,000",2019,Toyota,Innova,Crysta 2.8 GX AT 8 STR,"47,000Km",First Owner,Diesel,Ahmedabad
2,"1,15,000",2014,Tata,Nano,Twist XT,"15,306Km",First Owner,Petrol,Ahmedabad
3,"2,60,000",2008,Mahindra,Scorpio,VLX 2WD BS III,"1,54,000Km",Second Owner,Diesel,Ahmedabad
4,"5,80,000",2018,Maruti,Baleno,Delta 1.2,"11,000Km",First Owner,Petrol,Ahmedabad
...,...,...,...,...,...,...,...,...,...
547,"4,25,000",2014,Hyundai,i20,Sportz 1.4 CRDi,"36,000Km",Second Owner,Diesel,Ahmedabad
548,"1,25,000",2006,Maruti,Wagon,R LXi,"68,000Km",Second Owner,Petrol,Ahmedabad
549,"9,27,000",2019,Mahindra,Thar,CRDe 4X4 BS IV,"20,000Km",First Owner,Diesel,Ahmedabad
550,"4,00,000",2015,Honda,Amaze,1.2 SX i-VTEC,"70,000Km",First Owner,Petrol,Ahmedabad
551,"1,50,000",2007,Maruti,Wagon,R LXi,"64,000Km",Second Owner,Petrol,Ahmedabad

In [393]:
df5=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df5
#kolkata

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"18,18,984",2019,Toyota,Innova,Crysta 2.4 VX 8 STR,"27,000Km",First Owner,Diesel,Kolkata
1,"2,50,354",2012,Ford,Classic,1.4 TDCi TITANIUM,"1,25,000Km",First Owner,Diesel,Kolkata
2,"2,22,201",2012,Ford,Classic,1.4 TDCi TITANIUM,"1,35,000Km",First Owner,Diesel,Kolkata
3,"4,25,000",2018,Hyundai,Grand,i10 Magna 1.2 Kappa VTVT,"34,000Km",First Owner,Petrol,Kolkata
4,"4,60,000",2016,Honda,Amaze,1.5 S i-DTEC,"55,000Km",Second Owner,Diesel,Kolkata
...,...,...,...,...,...,...,...,...,...
523,"5,50,000",2010,Toyota,Innova,2.5 VX 8 STR BS IV,"1,24,000Km",Second Owner,Diesel,Kolkata
524,"6,70,000",2013,Toyota,Innova,2.5 G (Diesel) 8 Seater BS IV,"85,000Km",First Owner,Diesel,Kolkata
525,"5,50,000",2011,Toyota,Innova,2.5 V 8 STR,"70,000Km",First Owner,Diesel,Kolkata
526,"4,30,000",2014,Ford,EcoSport,TITANIUM 1.5 TDCI OPT,"51,000Km",First Owner,Diesel,Kolkata
527,"2,90,000",2013,Hyundai,i20,Magna 1.2,"35,000Km",First Owner,Petrol,Kolkata

In [539]:
df4=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df4
#chennai

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"3,15,000",2014,Ford,Figo,1.4 TDCI TITANIUM,"56,000Km",First Owner,Diesel,Chennai
1,"6,00,000",2015,Honda,City,1.5 S MT,"36,200Km",First Owner,Petrol,Chennai
2,"4,00,000",2013,Honda,Amaze,S i-DTEC,"1,00,200Km",First Owner,Diesel,Chennai
3,"2,90,000",2012,Ford,Figo,1.4 TDCI TITANIUM,"84,500Km",Second Owner,Diesel,Chennai
4,"1,05,000",2007,Chevrolet,Spark,E 1.0,"88,000Km",Second Owner,Petrol,Chennai
...,...,...,...,...,...,...,...,...,...
523,"11,02,100",2019,Hyundai,Verna,1.6 VTVT SX,"4,700Km",First Owner,Petrol,Chennai
524,"21,11,500",2018,Toyota,Innova,Crysta 2.4 VX 7 STR,"41,000Km",First Owner,Diesel,Chennai
525,"3,75,000",2012,Hyundai,i10,Magna 1.2,"45,000Km",First Owner,Petrol,Chennai
526,"2,35,000",2010,Chevrolet,Beat,LT Petrol,"17,000Km",First Owner,Petrol,Chennai
527,"8,75,000",2018,Hyundai,Verna,1.6 VTVT SX,"26,000Km",First Owner,Petrol,Chennai

In [574]:
df3=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df3
#hyderabad

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"8,50,000",2019,Renault,Duster,85 PS RXE 4X2 Diesel MT,"25,000Km",First Owner,Diesel,Hyderabad
1,"4,06,537",2016,Maruti,Celerio,ZDi (O),"1,23,000Km",First Owner,Diesel,Hyderabad
2,"19,00,000",2018,Isuzu,MU-X,4x4,"90,000Km",First Owner,Diesel,Hyderabad
3,"4,10,000",2015,Honda,Mobilio,S i-DTEC,"1,11,750Km",First Owner,Diesel,Hyderabad
4,"3,80,000",2017,Mahindra,Xylo,D2 BS IV,"74,258Km",First Owner,Diesel,Hyderabad
...,...,...,...,...,...,...,...,...,...
355,"8,82,659",2017,Maruti,Ertiga,ZDi SHVS,"82,000Km",First Owner,Diesel,Hyderabad
356,"11,16,005",2017,Hyundai,Creta,1.4 E+ Diesel,"41,280Km",First Owner,Diesel,Hyderabad
357,"95,000",2008,Tata,Indigo,CS LS TDI,"1,03,000Km",Second Owner,Diesel,Hyderabad
358,"3,45,000",2012,Volkswagen,Vento,1.5 TDI Highline,"93,000Km",First Owner,Diesel,Hyderabad
359,"4,70,000",2008,Toyota,Innova,2.5 V 8 STR,"1,36,000Km",Second Owner,Diesel,Hyderabad

In [666]:
df2=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df2
#jaipur

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"7,00,000",2017,Honda,City,ZX CVT,"70,000Km",Second Owner,Petrol,Jaipur
1,"1,15,000",2007,Maruti,Alto,LX BS-III,"80,000Km",Second Owner,Petrol,Jaipur
2,"2,00,000",2010,Hyundai,i10,Magna (O),"55,000Km",Second Owner,Petrol,Jaipur
3,"5,70,000",2013,Mahindra,Scorpio,VLX 2WD BSIII,"87,500Km",First Owner,Diesel,Jaipur
4,"3,60,000",2013,Volkswagen,Polo,Comfortline 1.2L (D),"82,500Km",First Owner,Diesel,Jaipur
...,...,...,...,...,...,...,...,...,...
163,"3,20,125",2018,Renault,KWID,1.0 RXT,"65,000Km",First Owner,Petrol,Jaipur
164,"5,70,000",2014,Chevrolet,Cruze,LTZ,"78,000Km",Second Owner,Diesel,Jaipur
165,"3,05,350",2011,Hyundai,i20,Magna 1.2,"65,000Km",First Owner,Petrol,Jaipur
166,"4,40,000",2014,Hyundai,Grand,i10 Sportz U2 1.2 CRDi,"52,000Km",First Owner,Diesel,Jaipur
167,"7,25,000",2014,Chevrolet,Cruze,LTZ AT,"9,000Km",First Owner,Diesel,Jaipur

In [682]:
df1=pd.DataFrame({"price":price,"year":year,"brand":brand,"model":model,"variant":variant,"kms":kms,"owner":owner,"Fuel":Fuel,"location":location})
df1
#surat

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"2,85,000",2010,Skoda,Laura,ELEGANCE 1.9 TDI MT,"1,32,000Km",Second Owner,Diesel,Surat
1,"7,43,000",2015,Hyundai,Creta,1.6 SX Petrol,"68,000Km",First Owner,Petrol,Surat
2,"4,90,000",2012,Mahindra,XUV500,W8 2WD,"80,000Km",Second Owner,Diesel,Surat
3,"4,90,000",2016,Hyundai,Elite,i20 Sportz 1.4 CRDi,"65,000Km",First Owner,Diesel,Surat
4,"3,76,000",2013,Skoda,Laura,ELEGANCE 2.0 TDI CR AT,"77,000Km",Third Owner,Diesel,Surat
...,...,...,...,...,...,...,...,...,...
139,"9,75,000",2016,Hyundai,Creta,1.6 SX Opt Diesel,"63,314Km",First Owner,Diesel,Surat
140,"3,75,950",2011,Mahindra,Scorpio,VLX 2WD AIRBAG BS III,"79,362Km",Third Owner,Diesel,Surat
141,"4,35,000",2013,Renault,Duster,110 PS RXL 4X2 MT,"65,100Km",First Owner,Diesel,Surat
142,"1,56,000",2013,Chevrolet,Beat,LS Diesel,"77,000Km",First Owner,Diesel,Surat
143,"2,83,250",2011,Maruti,Swift,DZire VXi,"62,000Km",Second Owner,Petrol,Surat

In [667]:
360+528+528+552+528+408+216+168

3288

In [684]:
dff2=dff2.append(df1)

In [685]:
dff2.shape

(3432, 9)

In [687]:
dff2['location'].value_counts()

Ahmedabad    552
Bengaluru    528
Chennai      528
Kolkata      528
New Delhi    408
Hyderabad    360
Mumbai       216
Jaipur       168
Surat        144
Name: location, dtype: int64

In [587]:
dff=pd.read_csv('cardata1.csv')

In [688]:
dff=dff.append(dff2)

In [690]:
dff.shape

(5011, 10)

In [689]:
dff['location'].value_counts()

Ahmedabad    838
Bengaluru    809
Chennai      782
Kolkata      684
Mumbai       632
New Delhi    549
Hyderabad    405
Jaipur       168
Surat        144
Name: location, dtype: int64

In [589]:
dff['location'].value_counts()

Mumbai       416
Ahmedabad    286
Bengaluru    281
Chennai      254
Kolkata      156
New Delhi    141
Hyderabad     45
Name: location, dtype: int64

In [668]:
3120+1579+168

4867

In [693]:
dff.drop(['Unnamed: 0'],axis=1)

,price,year,brand,model,variant,kms,owner,Fuel,location
0,"₹4,55,299",2015,Maruti,Swift,VDI ABS Manual,"76,264 km",1st Owner,Diesel,New Delhi
1,"₹5,35,899",2013,Toyota,Innova,2.5 GX 7 STR BS IV Manual,"1,38,351 km",2nd Owner,Diesel,New Delhi
2,"₹3,30,599",2014,Maruti,Swift,VDI Manual,"71,450 km",2nd Owner,Diesel,New Delhi
3,"₹4,05,199",2015,Maruti,Swift,VDI ABS Manual,"37,925 km",1st Owner,Diesel,New Delhi
4,"₹12,71,199",2020,Honda,City,ZX CVT Automatic,"10,322 km",1st Owner,Petrol,New Delhi
...,...,...,...,...,...,...,...,...,...
139,"9,75,000",2016,Hyundai,Creta,1.6 SX Opt Diesel,"63,314Km",First Owner,Diesel,Surat
140,"3,75,950",2011,Mahindra,Scorpio,VLX 2WD AIRBAG BS III,"79,362Km",Third Owner,Diesel,Surat
141,"4,35,000",2013,Renault,Duster,110 PS RXL 4X2 MT,"65,100Km",First Owner,Diesel,Surat
142,"1,56,000",2013,Chevrolet,Beat,LS Diesel,"77,000Km",First Owner,Diesel,Surat
143,"2,83,250",2011,Maruti,Swift,DZire VXi,"62,000Km",Second Owner,Petrol,Surat

In [694]:
dff.to_csv('cardata1.csv')

In [695]:
dff=pd.read_csv('cardata1.csv')

In [696]:
dff.shape

(5011, 11)