In [79]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.common.keys import Keys

In [218]:
driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')
driver.get('https://www.yatra.com')

<ipython-input-218-172d10b980d9>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r'C:\Users\Asus\Downloads\chrome_driver_win32\chromedriver')

In [141]:
src=driver.find_element_by_id('BE_flight_flsearch_btn')
src.click()

<ipython-input-141-081e66b935d9>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  src=driver.find_element_by_id('BE_flight_flsearch_btn')

In [129]:
date=[]
stops=[]
arrival=[]
source=[]
airline=[]
destination=[]
departure=[]
duration=[]

In [165]:
html = driver.find_element_by_tag_name('html')
for i in range(10):
    html.send_keys(Keys.END)
    time.sleep(3)

<ipython-input-165-3a8ceecc6a69>:1: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  html = driver.find_element_by_tag_name('html')

In [427]:

airline=[]
AL=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
for i in AL:
    airline.append(i.get_attribute("title"))
source=[]
destination=[]
SRC=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
DST=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
for i in SRC:
        source.append(i.get_attribute("title"))
for d in DST:
        destination.append(d.get_attribute("title"))     
arrival=[]
departure=[]
arr=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
dep=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
for a in arr:
    arrival.append(a.text)
for de in dep:
    departure.append(de.text)
duration=[]
dur=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
for du in dur:
    duration.append(du.text)
stops=[]
stp=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
for st in stp:
        stops.append(st.text)
price=[]
prc=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')
for p in prc:
    price.append(p.text)
date=[]
#D=driver.find_element_by_xpath('//p[@class="fs-12"]')
for dt in range(len(prc)):
    date.append('Wed,8 June')

<ipython-input-427-8fb7e3f83f66>:2: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  AL=driver.find_elements_by_xpath('//span[@class="i-b text ellipsis"]')
<ipython-input-427-8fb7e3f83f66>:7: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  SRC=driver.find_elements_by_xpath('//div[@class="i-b col-4 no-wrap text-right dtime col-3"]/p')
<ipython-input-427-8fb7e3f83f66>:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  DST=driver.find_elements_by_xpath('//div[@class="i-b pdd-0 text-left atime col-5"]/p[2]')
<ipython-input-427-8fb7e3f83f66>:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  arr=driver.find_elements_by_xpath('//p[@class="bold fs-15 mb-2 pr time"]')
<ipython-input-427-8fb7e3f83f66>:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dep=driver.find_elements_by_xpath('//div[@class="i-b pr"]')
<ipython-input-427-8fb7e3f83f66>:22: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  dur=driver.find_elements_by_xpath('//p[@class="fs-12 bold du mb-2"]')
<ipython-input-427-8fb7e3f83f66>:26: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  stp=driver.find_elements_by_xpath('//div[@class=" font-lightgrey fs-10 tipsy i-b fs-10"]/span')
<ipython-input-427-8fb7e3f83f66>:30: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  prc=driver.find_elements_by_xpath('//div[@class="i-b tipsy fare-summary-tooltip fs-18"]')

In [333]:
print(len(departure),len(arrival),len(stops),len(source),len(destination),len(duration),len(price),len(date),len(airline))

52 52 52 52 52 52 52 52 52

In [428]:
print(len(departure),len(arrival),len(stops),len(source),len(destination),len(duration),len(price),len(date))

132 132 132 132 132 132 132 132

In [ ]:
prod_df = pd.DataFrame({'Brand':Brand,'Name':Name,'Rating':Rating,'No. of ratings':no_of_ratings,'Price':Price,
                        'Return/Exchange':Return,'Expected Delivery':expected_delivery,'Availability':Availability,
                        'Other Details':Other_Details,'URL':product_urls})

In [429]:
datajun8=pd.DataFrame({"Date":date,"Airline":airline,"Departure Time":departure,"Arrival Time":arrival,"Stops":stops,"Source":source,"Destination":destination,"Duration":duration,"Price":price})

In [439]:
data_kolmum=data_kolmum.append(datajun8)

In [443]:
datafeb4

,Date,Airline,Departure Time,Arrival Time,Stops,Source,Destination,Duration,Price
0,"Fri,4 Feb",Go First,06:00,12:50,1 Stop,Kolkata,Mumbai,6h 50m,"7,801"
1,"Fri,4 Feb",Go First,14:20,21:55,1 Stop,Kolkata,Mumbai,7h 35m,"7,801"
2,"Fri,4 Feb",Go First,14:20,23:15,1 Stop,Kolkata,Mumbai,8h 55m,"7,801"
3,"Fri,4 Feb",Go First,16:25,02:00\n+ 1 day,1 Stop,Kolkata,Mumbai,9h 35m,"7,801"
4,"Fri,4 Feb",Go First,14:20,00:40\n+ 1 day,1 Stop,Kolkata,Mumbai,10h 20m,"7,801"
...,...,...,...,...,...,...,...,...,...
99,"Fri,4 Feb",Vistara,10:15,20:15,2 Stop(s),Kolkata,Mumbai,10h 00m,"17,114"
100,"Fri,4 Feb",Vistara,10:15,21:50,2 Stop(s),Kolkata,Mumbai,11h 35m,"17,691"
101,"Fri,4 Feb",Vistara,10:15,21:35,2 Stop(s),Kolkata,Mumbai,11h 20m,"17,829"
102,"Fri,4 Feb",SpiceJet,06:05,22:05,1 Stop,Kolkata,Mumbai,16h 00m,"21,687"
103,"Fri,4 Feb",SpiceJet,15:55,08:20\n+ 1 day,1 Stop,Kolkata,Mumbai,16h 25m,"21,715"

In [441]:
data_kolmum.shape

(1068, 9)

In [442]:
data_kolmum['Date'].value_counts()

Thu,26 May    137
Mon,9 May     137
Sat,2 Apr     136
Wed,8 June    132
Mon,14 Mar    130
Wed,23 Mar    123
Tue,15 Feb    105
Fri,4 Feb     104
Sun,30 Jan     64
Name: Date, dtype: int64

In [389]:
data_chenahm=data_chenahm.append(datamay14)

In [390]:
data_chenahm.shape

(701, 9)

In [391]:
data_chenahm['Date'].value_counts()

Sat,14 May    162
Thu,10 Mar     82
Mon,25 Apr     77
Mon,28 Feb     76
Wed,6 Apr      73
Fri,17 Jun     70
Sun,30 Jan     57
Fri,11 Feb     52
Tue,1 Feb      52
Name: Date, dtype: int64

In [327]:
data_hyddel.shape

(797, 9)

In [326]:
data_hyddel['Date'].value_counts()

Sun,20 Feb    127
Tue,22 Mar    124
Mon,6 Jun     122
Sun,13 Feb    108
Fri,8 Apr     107
Thu,3 Feb      72
Sun,30 Jan     70
Mon,31 Jan     67
Name: Date, dtype: int64

In [276]:
data_bangkol.shape

(752, 9)

In [275]:
data_bangkol['Date'].value_counts()

Sun,10 Apr    133
Thu,17 Mar    130
Mon,28 Feb    125
Wed,16 Feb    123
Sat,5 Feb      87
Mon,31 Jan     72
Sun,30 Jan     69
Sat,29 Jan     13
Name: Date, dtype: int64

In [451]:
flight_data

,Date,Airline,Departure Time,Arrival Time,Stops,Source,Destination,Duration,Price
0,"Sat, 29 Jan",Go First,21:00,23:15,Non Stop,New Delhi,Mumbai,2h 15m,"5,954"
1,"Sat, 29 Jan",Air India,18:00,20:00,Non Stop,New Delhi,Mumbai,2h 00m,"5,955"
2,"Sat, 29 Jan",IndiGo,17:15,19:25,Non Stop,New Delhi,Mumbai,2h 10m,"5,955"
3,"Sat, 29 Jan",IndiGo,18:40,20:50,Non Stop,New Delhi,Mumbai,2h 10m,"5,955"
4,"Sat, 29 Jan",SpiceJet,19:30,21:40,Non Stop,New Delhi,Mumbai,2h 10m,"5,955"
...,...,...,...,...,...,...,...,...,...
127,"Wed,8 June",SpiceJet,18:00,09:35\n+ 1 day,1 Stop,Kolkata,Mumbai,15h 35m,"13,449"
128,"Wed,8 June",SpiceJet,06:20,22:05,1 Stop,Kolkata,Mumbai,15h 45m,"14,183"
129,"Wed,8 June",SpiceJet,06:20,21:05,1 Stop,Kolkata,Mumbai,14h 45m,"14,499"
130,"Wed,8 June",SpiceJet,11:40,19:10,1 Stop,Kolkata,Mumbai,7h 30m,"15,779"
131,"Wed,8 June",SpiceJet,06:50,19:10,1 Stop,Kolkata,Mumbai,12h 20m,"22,185"

In [449]:
flight_data.shape

(4169, 9)

In [452]:
data_delmum['Source'].value_counts()

New Delhi    851
Name: Source, dtype: int64

In [454]:
flight_data['Airline'].value_counts()

Air India    1208
Vistara      1049
IndiGo        951
Go First      500
SpiceJet      242
Air Asia      219
Name: Airline, dtype: int64

In [453]:
flight_data['Source'].value_counts()

Kolkata      1068
New Delhi     851
Hyderabad     797
Bangalore     752
Chennai       701
Name: Source, dtype: int64

In [455]:
flight_data['Destination'].value_counts()

Mumbai       1919
New Delhi     797
Kolkata       752
Ahmedabad     701
Name: Destination, dtype: int64

In [456]:
flight_data.to_csv('flight_data.csv')